HOST="0.0.0.0"
PORT=3002
OPENHIM_URL=https://localhost:8080
OPENHIM_USERNAME=root@openhim.org
OPENHIM_PASSWORD=password
MEDIATOR_URN=urn:mediator:hie-data-mediator-notification
MEDIATOR_HOST=localhost
OPENHIM_REGISTER=true
FHIR_URL=  http://localhost:8080/fhir
EXTENSION_URI = http://example.org/fhir/StructureDefinition
RUA_URL = localhost
RUA_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiIsImN0eSI6ImFwcGxpY2F0aW9uL2pzb24ifQ.eyJhdWQiOlsiaHR0cHM6Ly90YXJnZXQucGhhbGNvbi5pbyJdLCJleHAiOjE3MzAzODExODYsImp0aSI6ImFuaWNuc3J1YSIsImlhdCI6MTczMDI5NDc4NiwiaXNzIjoiaHR0cHM6Ly9waGFsY29uLmlvIiwibmJmIjoxNzMwMjk0MTg2LCJzdWIiOiJ0b2tlbiBmb3IgcnVhIn0.ao0Z_zaa55umlrkO0I79JG5gYSryy4I4eLFctJlEAclK-4tHeY9xHpLMtSzhQsx8VVcqm0mzrK6kXXsryTrn9g"
MERCURE_URL=http://localhost:5000/.well-known/mercure
MERCURE_PUBLISHER_SECRET=MyKey
MEDIATOR_HOST = localhost
MEDIATOR_PORT = 3005

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://core:core@localhost:5432/transfertdb?schema=public"